
<table class="tx-wt-cart-product" >
	<tr>
		<td>
			<f:translate key="tx_wtcartproduct_domain_model_product.sku" />
		</td>
		<td>
		{product.sku}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wtcartproduct_domain_model_product.title" />
		</td>
		<td>
		{product.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wtcartproduct_domain_model_product.teaser" />
		</td>
		<td>
		{product.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wtcartproduct_domain_model_product.description" />
		</td>
		<td>
		{product.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wtcartproduct_domain_model_product.price" />
		</td>
		<td>
		{product.price}
		</td>
	</tr>
</table>