<f:layout name="Default" />

<f:section name="content">
	<h1><f:translate key="tx_wtcartproduct.module.variantSetController.listAction.header" /></h1>

	<div class="right btn">
		<f:link.action action="new">New</f:link.action>
	</div>
	<div class="clear"><!-- &nbsp --></div>

	<f:render partial="VariantSet/Filter" arguments="{piVars: piVars, action: 'list'}" />

	<table class="tx_wtcartorder typo3-dblist" >
		<tr class="t3-row-header">
			<th style="text-align: left;"><f:translate key="tx_wtcartproduct_domain_model_product.sku" /></th>
			<th style="text-align: left;"><f:translate key="tx_wtcartproduct_domain_model_product.title" /></th>
			<th style="width: 150px; text-align: left;"></th>
		</tr>

		<f:for each="{variantSets}" as="variantSet">
			<tr class="db_list_normal">
				<td><f:link.action action="show" arguments="{variantSet : variantSet}"> {variantSet.sku}</f:link.action></td>
				<td><f:link.action action="show" arguments="{variantSet : variantSet}"> {variantSet.title}</f:link.action></td>
				<td>
					<f:link.action action="show" arguments="{variantSet : variantSet}">Show</f:link.action> |
					<f:link.action action="edit" arguments="{variantSet : variantSet}">Edit</f:link.action> |
					<f:link.action action="delete" arguments="{variantSet : variantSet}">Delete</f:link.action>
				</td>
			</tr>
		</f:for>
	</table>

</f:section>